<h2 mat-dialog-title>Game Preparation</h2>

<mat-dialog-content class="mat-typography">

  <h3>Create Player</h3>

  <div class="inputDiv">
    <mat-form-field>
      <mat-label>What's your name?</mat-label>
      <input [(ngModel)]="player.name" matInput>
    </mat-form-field>
  </div>

  <h3>Select Game</h3>

  <div class="inputDiv">
    <mat-form-field>
      <mat-label>Game Name:</mat-label>
      <input [(ngModel)]="game.name" matInput>
    </mat-form-field>
  </div>

  <div class="inputDiv">
    <mat-form-field>
      <mat-label>Game Password:</mat-label>
      <input [(ngModel)]="game.password" matInput>
    </mat-form-field>
  </div>

  <div class="inputDiv">
    <mat-form-field>
      <mat-label>Game Size:</mat-label>
      <input [(ngModel)]="game.size" matInput>
    </mat-form-field>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button [mat-dialog-close]="true" cdkFocusInitial mat-button>Install</button>
</mat-dialog-actions>
